USE [master]
GO
/****** Object:  Database [DB_PTRAINER]    Script Date: 25/10/2014 1:31:07 ******/
CREATE DATABASE [DB_PTRAINER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_PTRAINER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_PTRAINER.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_PTRAINER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_PTRAINER_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_PTRAINER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_PTRAINER]
GO
/****** Object:  Table [dbo].[DB_EJERCICIO]    Script Date: 25/10/2014 1:31:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_EJERCICIO](
	[id_ejercicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](10) NULL,
	[imagen] [image] NULL,
	[FK_MAQUINA] [int] NULL,
 CONSTRAINT [PK_DB_EJERCICIO] PRIMARY KEY CLUSTERED 
(
	[id_ejercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DB_GIMNASIO]    Script Date: 25/10/2014 1:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DB_GIMNASIO](
	[id_gimnasio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](10) NULL,
	[lugar] [nchar](10) NULL,
	[horario] [varchar](50) NULL,
 CONSTRAINT [PK_DB_GIMNASIO] PRIMARY KEY CLUSTERED 
(
	[id_gimnasio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DB_MAQUINA]    Script Date: 25/10/2014 1:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_MAQUINA](
	[id_maquina] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](10) NULL,
	[imagen] [image] NULL,
	[FK_DB_GIMNASIO] [int] NULL,
 CONSTRAINT [PK_DB_MAQUINA] PRIMARY KEY CLUSTERED 
(
	[id_maquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DB_RANKING]    Script Date: 25/10/2014 1:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_RANKING](
	[id_ranking] [int] IDENTITY(1,1) NOT NULL,
	[posicion] [int] NULL,
	[FK_RUTINAxEJERCICIO] [int] NULL,
 CONSTRAINT [PK_DB_RANKING] PRIMARY KEY CLUSTERED 
(
	[id_ranking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DB_RUTINA]    Script Date: 25/10/2014 1:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_RUTINA](
	[id_rutina] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](10) NULL,
	[FK_USUARIO] [int] NULL,
 CONSTRAINT [PK_DB_RUTINA] PRIMARY KEY CLUSTERED 
(
	[id_rutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DB_RUTINAxEJERCICIO]    Script Date: 25/10/2014 1:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_RUTINAxEJERCICIO](
	[id_rutinaXejercicio] [int] IDENTITY(1,1) NOT NULL,
	[indicacion] [nchar](10) NULL,
	[puntuacion] [real] NULL,
	[repeticiones] [int] NULL,
	[series] [int] NULL,
	[pausa] [int] NULL,
	[avance] [real] NULL,
	[FK_RUTINA] [int] NULL,
	[FK_EJERCICIO] [int] NULL,
 CONSTRAINT [PK_DB_RUTINAxEJERCICIO] PRIMARY KEY CLUSTERED 
(
	[id_rutinaXejercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DB_USUARIO]    Script Date: 25/10/2014 1:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](10) NULL,
	[username] [nchar](10) NULL,
	[password] [nchar](10) NULL,
	[FK_DB_GIMNASIO] [int] NULL,
 CONSTRAINT [PK_DB_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DB_EJERCICIO]  WITH CHECK ADD  CONSTRAINT [FK_DB_EJERCICIO_DB_MAQUINA] FOREIGN KEY([FK_MAQUINA])
REFERENCES [dbo].[DB_MAQUINA] ([id_maquina])
GO
ALTER TABLE [dbo].[DB_EJERCICIO] CHECK CONSTRAINT [FK_DB_EJERCICIO_DB_MAQUINA]
GO
ALTER TABLE [dbo].[DB_MAQUINA]  WITH CHECK ADD  CONSTRAINT [FK_DB_MAQUINA_DB_GIMNASIO] FOREIGN KEY([FK_DB_GIMNASIO])
REFERENCES [dbo].[DB_GIMNASIO] ([id_gimnasio])
GO
ALTER TABLE [dbo].[DB_MAQUINA] CHECK CONSTRAINT [FK_DB_MAQUINA_DB_GIMNASIO]
GO
ALTER TABLE [dbo].[DB_RANKING]  WITH CHECK ADD  CONSTRAINT [FK_DB_RANKING_DB_RUTINAxEJERCICIO] FOREIGN KEY([FK_RUTINAxEJERCICIO])
REFERENCES [dbo].[DB_RUTINAxEJERCICIO] ([id_rutinaXejercicio])
GO
ALTER TABLE [dbo].[DB_RANKING] CHECK CONSTRAINT [FK_DB_RANKING_DB_RUTINAxEJERCICIO]
GO
ALTER TABLE [dbo].[DB_RUTINA]  WITH CHECK ADD  CONSTRAINT [FK_DB_RUTINA_DB_USUARIO] FOREIGN KEY([FK_USUARIO])
REFERENCES [dbo].[DB_USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[DB_RUTINA] CHECK CONSTRAINT [FK_DB_RUTINA_DB_USUARIO]
GO
ALTER TABLE [dbo].[DB_RUTINAxEJERCICIO]  WITH CHECK ADD  CONSTRAINT [FK_DB_RUTINAxEJERCICIO_DB_EJERCICIO] FOREIGN KEY([FK_EJERCICIO])
REFERENCES [dbo].[DB_EJERCICIO] ([id_ejercicio])
GO
ALTER TABLE [dbo].[DB_RUTINAxEJERCICIO] CHECK CONSTRAINT [FK_DB_RUTINAxEJERCICIO_DB_EJERCICIO]
GO
ALTER TABLE [dbo].[DB_RUTINAxEJERCICIO]  WITH CHECK ADD  CONSTRAINT [FK_DB_RUTINAxEJERCICIO_DB_RUTINA] FOREIGN KEY([FK_RUTINA])
REFERENCES [dbo].[DB_RUTINA] ([id_rutina])
GO
ALTER TABLE [dbo].[DB_RUTINAxEJERCICIO] CHECK CONSTRAINT [FK_DB_RUTINAxEJERCICIO_DB_RUTINA]
GO
ALTER TABLE [dbo].[DB_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_DB_USUARIO_DB_GIMNASIO] FOREIGN KEY([FK_DB_GIMNASIO])
REFERENCES [dbo].[DB_GIMNASIO] ([id_gimnasio])
GO
ALTER TABLE [dbo].[DB_USUARIO] CHECK CONSTRAINT [FK_DB_USUARIO_DB_GIMNASIO]
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarInfoGimnasio]    Script Date: 25/10/2014 1:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_InsertarInfoGimnasio]
(
	@Nombre nchar(10),
	@Lugar nchar(10),
	@Horario varchar(50)
)

as
begin
    insert into DB_GIMNASIO(nombre, lugar, horario)
    values (@Nombre, @Lugar, @Horario)
end
GO
USE [master]
GO
